.venv/
venv/
.env
info.env

__pycache__/
*.pyc

ml/runs/
ml/datasets/raw/
ml/datasets/object_detection/greenlab_v3/

ml/weights/base/
ml/weights/legacy/
ml/weights/detection/*
!ml/weights/detection/best.pt
greenlab_users.db

*.db
